/* --fonts-- */
.days-one-regular {
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.chakra-petch-light {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.chakra-petch-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-medium {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.chakra-petch-semibold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.chakra-petch-bold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.chakra-petch-light-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.chakra-petch-regular-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.chakra-petch-medium-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.chakra-petch-semibold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.chakra-petch-bold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: italic;
}
body {
  font-family: "Days One", sans-serif;
  background-color: #0b0e13;
}
/* ----important classes------- */

.bg-main {
  background-color: #0b0e13;
}
.bg-secondry {
  background-color: #1a1a1a;
}
.bg-section {
  background-color: #1e2939;
}
.bg-y {
  background-color: #cbfe1c;
}
.main-text-color {
  color: #f1f1f1;
}
.secondary-text-color {
  color: black;
}
.secondary-color-y {
  color: #cbfe1c;
}
.action-cursor {
  cursor: pointer;
}
.font-heading {
  font-family: "Days One", sans-serif;
}
.font-body {
  font-family: "Chakra Petch", sans-serif;
}
.border-c {
  border-color: #1e2939;
}
/* ----------navbar----------- */
/* ----------set colors--- */
.nav-link:hover {
  color: #cbfe1c;
}
.navbar .navbar-toggler-icon:hover {
  color: #cbfe1c;
}
form i,
span {
  color: white;
  cursor: pointer;
}
form i:hover,
span:hover {
  color: #cbfe1c;
}
form span {
  margin-left: 0.5rem;
}
.btn:hover {
  background-color: #cbfe1c;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler:hover .fa-bars {
  color: #cbfe1c;
}
.navbar-brand:hover {
  color: #cbfe1c;
}
/* ----------edits on navbar--- */
form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
ul.navbar-nav {
  position: relative;
  padding: 1.5rem 0px;
}
ul.navbar-nav::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  left: 0;
  height: 1px;
  background-color: #354051;
}
ul.navbar-nav::after {
  content: "";
  position: absolute;
  bottom: 17px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #354051;
}
button.bg-y {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}
ul.navbar-nav li a.nav-link,
form span {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
ul.navbar-nav li {
  padding: 0.5rem 0px;
}
a.navbar-brand {
  font-size: 17.5px;
  font-weight: 700;
  line-height: 24.5px;
}
/* -------------header----------- */
.bg-hero {
  background-image:
    linear-gradient(#000000e0, #000000e0), url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
}
.hero-h {
  font-size: 31.5px;
  font-weight: 700;
  line-height: 39.375px;
  color: rgb(241, 241, 241);
}
.hero-p {
  font-size: 12.25px;
  font-weight: 400;
  line-height: 19.9062px;
  color: oklch(0.872 0.01 258.338);
}
.hero-btn-font {
  font-size: 12.25px;
  font-weight: 700;
  line-height: 17.5px;
}
.btn-hero button.btn-two {
  border: 2px solid #cbfe1c;
  background-color: inherit;
  transition: 300ms;
}
.btn-hero button.btn-two:hover {
  background-color: #cbfe1c;
  color: black;
}
.right {
  width: 90%;
  background-image: linear-gradient(to right, #b8fa38, #50e56a);
}
.right img {
  height: 200px;
}
.badge {
  bottom: -30px;
  left: -15px;
  border: 1px solid #354051;
}
.badge p.font-body {
  font-size: 10.5px;
  font-weight: 400;
  color: oklch(0.707 0.022 261.325);
}
.badge p.text-light {
  font-size: 15.75px;
  font-weight: 700;
}
.badge i {
  font-size: 14px;
}
/*-------section-latest------ */
/* title-- */
.title-all p.element::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #cbfe1c;
  top: 50%;
  left: 25%;
  width: 10%;
  transform: translateY(-50%);
  background: linear-gradient(to left, #cbfe1c, transparent);
}
.title-all p.element::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #cbfe1c;
  top: 50%;
  right: 25%;
  width: 10%;
  transform: translateY(-50%);
  background: linear-gradient(to right, #cbfe1c, transparent);
}

/* slide--- */
.latest-games .slide .overlay .header span {
  font-size: 10.5px;
  font-weight: 700;
  line-height: 14px;
  background-color: rgba(0, 0, 0, 0.4);
}
.latest-games .slide .overlay .header span:hover {
  color: #f1f1f1;
}
.latest-games .slide .card .footer h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24.5px;
}
/* ------------ */
/* Carousel Container */
.card {
  width: 100%;
  max-width: 400px;
  height: 350px;
  aspect-ratio: 4 / 3.4;
  border: 3px solid;
  transition: 0.4s ease-in-out;
  background-color: transparent;
}
.card:hover {
  border: 3px solid #cbfe1c;
}
.card .photo,
.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
.card:hover img {
  transform: scale(1.05);
  transform: scale(1.07);
}
.carousel-item .card .overlay {
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, rgba(201, 254, 27, 0.5));
  opacity: 0;
  transition: 0.4s ease-in-out;
}
.card:hover .overlay {
  opacity: 1;
}
.card .header {
  transform: translateY(-50px);
  transition: 0.4s ease-in-out;
}
.card:hover .header {
  transform: translateY(5px);
}
.card .footer {
  bottom: -60px;
  left: 0;
  transition: 0.4s ease-in-out;
  width: 100%;
}
.card:hover .footer {
  bottom: 0;
  width: 100%;
  backdrop-filter: blur(4px);
}
/* ------btn----- */
.btn-prev {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  top: 105%;
  left: 40%;
  color: #525861;
  border: 1px solid;
  transition: 300ms;
}
.btn-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 105%;
  left: 55%;
  background-color: transparent;
  color: #525861;
  border: 1px solid;
  transition: 300ms;
}
.btn-prev:hover,
.btn-next:hover {
  color: #cbfe1c;
  border-color: #cbfe1c;
}
.btn-games {
  position: absolute;
  top: 125%;
  width: 100%;
  background-color: inherit;
  border: 2px solid #cbfe1c;
  transition: 300ms;
  color: #cbfe1c;
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
}
.btn-games:hover {
  background-color: #cbfe1c;
  color: black;
}
.latest-games .row > :not(:first-child) {
  display: none;
}
/* ------section-3--------- */
.dev-card {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  transition: border-color 0.3s ease-in-out;
  position: relative;
}
.icon {
  transition: 0.4s ease-in-out;
}
.dev-card:hover {
  border-color: #cbfe1c !important;
}
.dev-card:hover .icon i {
  color: black;
}
.dev-card:hover .icon {
  background-color: #cbfe1c;
}
/* -----before and after----- */
.dev-card {
  position: relative;
  overflow: hidden;
  transition: border-color 0.3s ease-in-out;
}
.dev-card::before,
.dev-card::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}
.dev-card::before {
  top: 12px;
  left: 12px;
  border-width: 16px 16px 0 0;
  border-color: #cbfe1c transparent transparent transparent;
  transform: translate(-100px, -100px);
}
.dev-card::after {
  bottom: 12px;
  right: 12px;
  border-width: 0 0 16px 16px;
  border-color: transparent transparent #cbfe1c transparent;
  transform: translate(100px, 100px);
}
.dev-card:hover::before,
.dev-card:hover::after {
  transform: translate(0, 0);
}
.section-doing::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 4px;
  bottom: -20px;
  left: 10%;
  background-image: linear-gradient(to right, black, #cbfe1c, black);
}
/* ---------animation-section-------- */
.aniamtion-section {
  background-image: radial-gradient(#cbfe1c 0%, #0b0e13 70%);
}
.first-row {
  animation: animatemove 20s linear infinite;
}
@keyframes animatemove {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.second-row {
  animation: animatemove-2 20s linear infinite;
}
@keyframes animatemove-2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(50%);
  }
}
/* ------team-member------- */
.team-heading {
  font-size: 42px;
}
.p-color {
  color: #515660;
}
.p-card {
  font-size: 11px;
  color: oklch(0.707 0.022 261.325);
}
/* -----grid-layout---- */
.team-card {
  background-color: #0b0c10;
  cursor: pointer;
}
.team-card img {
  filter: grayscale(100%);
  object-fit: cover;
  transition: all 0.4s ease;
}
.team-card:hover img {
  filter: grayscale(0%);
}
.sliding-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 2s cubic-bezier(0.25, 1, 0.5, 1);
  transform: translateY(0);
  z-index: 2;
}
.team-card:hover .sliding-overlay {
  transform: translateY(-100%);
}
.text-rotate {
  top: 75%;
  left: 80%;
  transform: rotate(90deg);
}
/* --------contact-------- */
.bg-contact {
  background-color: #0e1420;
}
.p-contact-color {
  color: #99a1af;
}
.icon {
  transition: all 0.4 ease-in-out;
}
.community-card {
  background: linear-gradient(
    to right,
    #c8fd23 0%,
    #b2f83e 20%,
    #8bf057 50%,
    #54e66a 70%,
    #18e072 100%
  );
}
.social-icons .icon:hover {
  background-image: linear-gradient(
    rgba(203, 254, 28, 0.5),
    rgba(203, 254, 28, 0.3)
  );
}
.bg-form-input {
  background-color: #364153;
}
input::placeholder {
  color: #99a1af !important;
}
input{
  border-color:transparent !important;
}
input:focus{
  background-color: transparent;
}
textarea::placeholder{
  color: #99a1af !important;
}
textarea{
  resize: none;
}
.form-control:focus,
#select-game.form-select:focus {
  border-color: #cbfe1c !important;
  box-shadow: none;
  background-color: #364153;
}
.form-control:focus{
  border-color: #cbfe1c !important;
  box-shadow: none;
}
.form-select {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}
#subscribe {
  transform: scale(1.7);       
  vertical-align: middle;
  margin-left: 7px;      
}
.form-btn::after {
  content: "";
  position: absolute;
  bottom: -25px;
  right: 0;
  left: 0;
  height: 1px;
  background-color: #354051;
}
/* ----------------------- */
