/*  Small devices (landscape phones, 576px and up) */
/*  Medium devices (tablets, 768px and up) 639*/
/*  Large devices (desktops, 992px and up) */
/* ---------------- */
/* md screen */
@media (min-width: 640px) {
  .container {
    width: 85%;
    margin: auto;
  }
  .hero {
    padding-top: 50px;
    margin-top: 0px;
  }
  .left {
    margin-top: 100px;
  }
  p.hero-p {
    width: 75%;
    padding: 0 20px;
  }
  .right img {
    height: 400px;
    object-fit: cover;
  }
  /* ----section-latest---- */
  .title-all p.element::before {
    left: 30%;
  }
  .title-all p.element::after {
    right: 30%;
  }
  .latest-games .row > :not(:first-child) {
    display: block;
  }
  .latest-games .row > :nth-child(3) {
    display: none;
  }
  .btn-prev {
    top: 105%;
    left: 40%;
  }
  .btn-next {
    top: 105%;
    left: 50%;
  }
  .btn-games {
    top: 105%;
    left: 60%;
    width: 20%;
  }
  .card {
    margin-right: 10px;
  }
}
/* lg screen */
@media (min-width: 1023px) {
  /* ----navbarsection---- */
  .icon-content span {
    display: none;
  }
  .icon-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    gap: 10px;
  }
  ul.navbar-nav::before,
  ul.navbar-nav::after {
    display: none;
  }
  /* ---------------------- */
  ul.navbar-nav {
    padding: 0px;
  }
  button.bg-y {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
  }
  ul.navbar-nav li {
    padding: 0px;
  }
  a.navbar-brand {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }
  button.bg-y {
    padding: 8px 20px;
  }
  /* --------hero section---- */
  .parent {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .left {
    margin-top: 0px;
  }
  p.hero-p {
    width: 100%;
    padding: 0px;
  }
  .right {
    width: 100%;
  }
  .right img {
    height: 400px;
    object-fit: cover;
  }
  /* -----------fonts------- */
  .hero-h {
    font-size: 60px;
    line-height: 75px;
  }
  .hero-p {
    font-size: 16px;
    line-height: 26px;
  }
  .hero-btn-font {
    font-size: 16px;
    line-height: 24px;
  }
  .badge p.font-body {
    font-size: 12px;
    line-height: 16px;
  }
  .badge p.text-light {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }
  .badge i {
    font-size: 20px;
  }
  /* ------latest-games--- */
  .title-all p.element::before {
    left: 35%;
  }
  .title-all p.element::after {
    right: 35%;
  }
  .latest-games .row > :not(:first-child) {
    display: block;
  }
  .latest-games .row > :nth-child(3) {
    display: block;
  }
  .btn-prev {
    top: 105%;
    left: 40%;
  }
  .btn-next {
    top: 105%;
    left: 45%;
  }
  .btn-games {
    top: 105%;
    left: 50%;
    width: 10%;
  }
}
